/* THEME VARIABLES */
:root {
    --bg: #020617;
    --card: rgba(30, 41, 59, 0.7);
    --text: #ffffff;
    --sub: #94a3b8;
    --primary: #3b82f6;
}

/* LIGHT MODE */
body.light {
    --bg: #f1f5f9;
    --card: #ffffff;
    --text: #0f172a;
    --sub: #475569;
}

.theme-toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(8px);
}
/* BADGE */
.badge {
    font-size: 12px;
    color: var(--primary);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: radial-gradient(circle at top, var(--bg), transparent);
    z-index: -1;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: var(--bg);
    color: var(--text);
    padding: 16px;
    line-height: 1.6;
    transition: 0.3s;
}
/* HEADER */
.header {
    text-align: center;
    margin-bottom: 24px;
    position: relative; /* penting */
}

h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.subtitle {
    color: var(--sub);
}


/* CONTAINER */
.container {
    max-width: 480px;
    margin: auto;
}

/* CARD */
.card {
    background: var(--bg);
    backdrop-filter: blur(12px);
    padding: 18px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,0.05);
}

/* INPUT */
input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #334155;
    margin-bottom: 12px;
    background:var(--bg);
    color: var(--text);
    transition: 0.2s;
}

input::placeholder {
    color: #94a3b8;
}

input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59,130,246,0.3);
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: var(--bg);
    color: var(--text);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

/* hover desktop */
button:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 20px rgba(59,130,246,0.3);
}

/* active mobile */
button:active {
    transform: scale(0.97);
}

/* ERROR */
.error {
    margin-top: 10px;
    color: var(--text);

    font-size: 14px;
    text-align: center;
}

/* RESULT */
.result {
    margin-top: 20px;
    padding: 14px;
    border-radius: 14px;
    background: var(--bg);
    border: 1px solid rgba(255,255,255,0.05);
    animation: fadeIn 0.3s ease;
}

.hidden {
    display: none;
}

/* VIDEO */
video {
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}

/* DOWNLOAD */
.download-btn {
    margin-top: 12px;
    background: var(--bg);
}


/* BUTTON */
#themeToggle {
    width: 10%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: var(--bg);
    color: var(--text);
    font-weight: 600;
    margin-top: 8px;
}

/* SECONDARY BUTTON */
.secondary-btn {
    background: var(--bg);
}

/* DESCRIPTION */
.description {
    margin-top: 30px;
    font-size: 14px;
    color: var(--text)
}

.description h2 {
    font-size: 18px;
    margin-top: 16px;
}

.description ol {
    padding-left: 18px;
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #64748b;
}
/* LOADER */
.loader {
    margin: 15px auto;
    width: 30px;
    height: 30px;
    border: 3px solid #334155;
    border-top: 3px solid #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* ANIMATION */
@keyframes spin {
    to { transform: rotate(360deg); }
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}